
.bodyDiv_chatbot{padding-left: 10px;padding-right: 10px;height:90vh ;display: flex;flex-direction: column;}



.chatMessages{flex-grow: 1;margin-top: 20px;overflow: scroll;scrollbar-width: none;}
.welcome_msg{color: black;font-size: 20px;}
.user_img{width:45px ;height: 45px;margin-left: 10px;}
.message_p{font-family: Roboto;color: black;background-color: rgb(230, 227, 227);
display:inline-block;padding: 15px;border-radius: 10px;
max-width: 300px;

}
.div_user{display: flex;justify-content: right;padding-right:0px;margin-top: 20px;margin-bottom: -15px;}
.input_flex{display: flex;justify-content: center;}